[Unit]
Description=BOTLIB - python3 library to program bots
After=multi-user.target

[Service]
DynamicUser=True
StateDirectory=bot
LogsDirectory=bot
CacheDirectory=bot
ExecStart=/usr/local/bin/bot
CapabilityBoundingSet=CAP_NET_RAW

[Install]
WantedBy=multi-user.target
