# This file is placed in the Public Domain.

include setup.py
include README.rst
include index.rst
include MANIFEST.in
include botd.service
recursive-include bin *
recursive-include man *
recursice-include mod *.py