[Unit]
Description=BOTS - 24/7 channel daemon
After=multi-user.target

[Service]
DynamicUser=True
StateDirectory=bots
LogsDirectory=bots
CacheDirectory=bots
ExecStart=/usr/local/bin/bots
CapabilityBoundingSet=CAP_NET_RAW

[Install]
WantedBy=multi-user.target
