[Unit]
Description=botlib

[Service]
ExecStart=/usr/local/bin/bl -k -p -d /var/lib/botlib --logdir /var/log/botlib -l debug

[Install]
WantedBy=multi-user.target
